<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <title>
        <%= title %>
    </title>
    <%- include('../partials/Head') %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="/assets/user/css/signup-style.css">
        <style>
            .signup-container label {
                position: relative;
                display: table-cell;
                margin-bottom: -1%;
            }

            .toggle-password {
                top: 50%;
            }
        </style>

</head>

<body>
    <%- include('../partials/header') %>

        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1 id="form-heading">
                                <%= title %>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-7"></div>
                </div>
            </div>
        </div>

        <section class="signup">
            <div class="signup-container">
                <div class="signup-content">

                    <!-- Register Form -->
                    <div id="register-section" class="signup-form" style="margin-left: 10px;     margin-right: 0px;">

                        <% if (success) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= success %>
                            </div>
                            <% } %>

                                <% if (error) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%= error %>
                                    </div>
                                    <% } %>

                                        <form action="/user-changePassword" method="post" id="ChangePasswordForm"
                                            novalidate>

                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <div class="form-group password-wrapper">
                                                <input type="password" class="form-control" placeholder="Password"
                                                    id="password" name="currentPassword" required>

                                                <i class="fa-solid fa-eye toggle-password"
                                                    onclick="togglePassword('password', 'eyeIcon1')"></i>
                                            </div>

                                            <div class="form-group password-wrapper">
                                                <input type="password" class="form-control" placeholder="Password"
                                                    id="newPassword" name="newPassword" required>

                                                <i class="fa-solid fa-eye toggle-password"
                                                    onclick="togglePassword('newPassword', 'eyeIcon2')"></i>

                                            </div>

                                            <div class=" form-group password-wrapper">
                                                <input type="password" class="form-control"
                                                    placeholder="Confirm Password" id="confirmPassword"
                                                    name="confirmNewPassword" required>
                                                <i class="fa-solid fa-eye toggle-password"
                                                    onclick="togglePassword('confirmPassword', 'eyeIcon3')"></i>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary btn-block">Change
                                                        password</button>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                        </form>
                    </div>

                    <div class="signup-image" style="    margin: 0 0px;">
                        <figure><img src="/assets/user/images/sofap.png" alt="signup image">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../partials/footer') %>
            <%- include('../partials/script') %>
                <!-- JS -->
                <script src="/assets/user/vendor/jquery/jquery.min.js"></script>
                <script src="/assets/user/js/alertmsg.js"></script>
                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

                <script src="../assets/admin/vendor/libs/jquery/jquery-validation.js"></script>
                <script src="../assets/admin/vendor/js/custom.js"></script>

</body>

</html>