<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon">

    <meta name="description" content />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <%- include('../partials/Head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/Header') %>

        <!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>
                                <%= title %>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-7">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->

        <div class="untree_co-section before-footer-section" style="margin-top: -16%;">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table">
                                <thead class="table">
                                    <tr>
                                        <th class="product-remove"></th>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>

                                <input type="hidden" id="csrfToken" value="<%= csrfToken %>">
                                <tbody id="cartTable">
                                    <% if(cart.length> 0){ %>
                                        <% cart.forEach(item=> { %>

                                            <tr data-id="<%= item.product.id %>"
                                                data-price="<%= item.product.newPrice %>">

                                                <td>
                                                    <button class="btn btn-black btn-sm remove-cart"
                                                        data-id="<%= item.product.id %>">X</button>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="/product/<%= item.product.sku %>">
                                                        <img src="/assets/admin/img/products/<%= item.product.main_img %>"
                                                            class="img-fluid rounded-3" alt="Image">
                                                    </a>
                                                </td>
                                                <td class="product-name" style="  width: 30%;">
                                                    <a href="/product/<%= item.product.sku %>"
                                                        style="text-decoration: none;">
                                                        <h2 class="h5 text-black">
                                                            <%= item.product.name %>
                                                        </h2>
                                                    </a>
                                                </td>

                                                <td>
                                                    <%= formatCurrency(item.product.newPrice) %>
                                                </td>
                                                <td>
                                                    <div class="quantity-box" style="width: 60%; margin-left: 25%;">
                                                        <div
                                                            class="quantity-container d-flex align-items-center rounded-pill border p-1">
                                                            <button
                                                                class="btn btn-sm btn-outline-secondary qty-btn decrease"
                                                                type="button">
                                                                &minus;
                                                            </button>
                                                            <input type="text"
                                                                class="form-control qty-input text-center mx-1"
                                                                value="<%= item.quantity %>" min="1"
                                                                data-id="<%= item.product.id %>" style="width: 60px;">
                                                            <button
                                                                class="btn btn-sm btn-outline-secondary qty-btn increase"
                                                                type="button">
                                                                &plus;
                                                            </button>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td class="row-subtotal">
                                                    <%= formatCurrency(item.product.newPrice * item.quantity) %>
                                                </td>

                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6" class="text-center">Your cart is empty</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">

                            <div class="col-md-6">
                                <a href="shop" class="btn btn-outline-black btn-sm btn-block text-white">
                                    Continue Shopping
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-black h4" for="coupon">Coupon</label>
                                <p>Enter your coupon code if you have one.</p>
                            </div>
                            <div class="col-md-8 mb-3 mb-md-0">
                                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-black">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Subtotal</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black" id="cartSubtotal">
                                            <%= formatCurrency(subtotal) %>
                                        </strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black" id="cartTotal">
                                            <%= formatCurrency(total) %>
                                        </strong>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-black btn-lg py-3 btn-block"
                                            onclick="window.location='checkout'">
                                            Proceed To Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>
            <%- include('../partials/script') %>
                <script>
                    window.isLoggedIn = <%= (session && session.user) ? true : false %>;
                    console.log("Logged in?", window.isLoggedIn, typeof window.isLoggedIn);
                </script>
                <script src="/assets/user/js/cart_script.js"></script>
                <script src="/assets/user/js/checkout_script.js"></script>

</body>

</html>