<style>
	.profile-avatar {
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
		border: 0px solid white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	.dropdown-item.text-danger:hover {
		color: #dc3545 !important;
	}

	.dropdown-item.text-danger i {
		color: #dc3545;
	}

	.dropdown-item.text-danger:hover i {
		color: #dc3545 !important;
	}

	.badge {
		font-size: 0.75rem;
		padding: 0.25em 0.5em;
		border-radius: 50%;
		color: white;
	}

	.position-relative {
		position: relative;
	}

	.position-absolute {
		position: absolute;
	}

	.translate-middle {
		transform: translate(-50%, -50%);
	}
</style>

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="/">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
			aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item <%= currentPage === 'index' ? 'active' : '' %>">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item <%= currentPage === 'shop' ? 'active' : '' %>">
					<a class="nav-link" href="/shop">Shop</a>
				</li>
				<li class="nav-item <%= currentPage === 'about' ? 'active' : '' %>">
					<a class="nav-link" href="/about">About us</a>
				</li>
				<li class="nav-item <%= currentPage === 'services' ? 'active' : '' %>">
					<a class="nav-link" href="/services">Services</a>
				</li>
				<li class="nav-item <%= currentPage === 'blog' ? 'active' : '' %>">
					<a class="nav-link" href="/blog">Blog</a>
				</li>
				<li class="nav-item <%= currentPage === 'contact' ? 'active' : '' %>">
					<a class="nav-link" href="/contact">Contact us</a>
				</li>
				<% if (session.user && session.user.roleId===1) { %>
					<li class="nav-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
						<a class="nav-link" href="/dashboard">Admin Panel</a>
					</li>
					<% } %>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<% if (!session?.user) { %>
					<li>
						<a class="nav-link <%= currentPage === 'auth' ? 'active' : '' %>" href="/auth">
							<img src="/assets/user/images/user.svg">
						</a>
					</li>
					<% } else { %>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle p-0 mt-1" href="#" role="button"
								data-bs-toggle="dropdown">
								<img src="<%= session.user.image %>" alt="User" class="profile-avatar" />

							</a>
							<ul class="dropdown-menu dropdown-menu-end profile-dropdown mt-3">
								<li>
								</li>

								<li><a class="dropdown-item" href="/user-profile"><i
											class="bi bi-person-fill me-2"></i>Profile</a></li>
								<li>

								<li><a class="dropdown-item" href="/user-changePassword"><i
											class="bi bi-shield-lock-fill me-2"></i>Change Password</a></li>
								<li>

									<form action="/logout" method="POST" class="logout-form m-0 p-0">
										<input type="hidden" name="_csrf" value="<%= csrfToken %>">
										<button type="submit" class="logout-item w-100 text-start">
											<i class="bi bi-box-arrow-right me-2"></i> Logout
										</button>
									</form>

								</li>
							</ul>
						</li>
						<% } %>

							<li>
								<% if (session && session.user) { %>
									<a class="nav-link <%= currentPage === 'Wishlist' ? 'active' : '' %>"
										href="/wishlist">
										<i class="fa-regular fa-heart fa-xl me-2" style="color: #ffffff;"></i>
									</a>
									<% } %>
							</li>

							<li class="nav-item position-relative">
								<a class="nav-link <%= currentPage === 'cart' ? 'active' : '' %>" href="/cart">
									<img src="/assets/user/images/cart.svg">
									<% if (cartCount> 0) { %>
										<span
											class="badge bg-secondary position-absolute top-3 start-100 translate-middle">
											<%= cartCount %>
										</span>
										<% } %>
								</a>
							</li>


			</ul>

		</div>
	</div>

</nav>
<!-- End Header/Navigation -->