<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-path="/assets/admin/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <meta name="description" content="" />
    <%- include('../partials/head') %>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('../partials/sidebar') %>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <%- include('../partials/breadcrumbs') %>

                            <!-- Tabs Navigation -->
                            <ul class="nav nav-pills flex-column flex-md-row mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link <%= activeTab === 'connections' ? 'active' : '' %>"
                                        href="/settings?tab=connections">
                                        <i class="bx bx-link-alt me-1"></i> Connections
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= activeTab === 'theme' ? 'active' : '' %>"
                                        href="/settings?tab=theme">
                                        <i class="bx bx-user me-1"></i> Theme
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link <%= activeTab === 'notifications' ? 'active' : '' %>"
                                        href="/settings?tab=notifications">
                                        <i class="bx bx-bell me-1"></i> Notifications
                                    </a>
                                </li> -->
                            </ul>


                            <div class="tab-content">
                                <!-- Account Tab -->

                                <!-- Notifications Tab -->
                                <!-- <div class="tab-pane fade <%= activeTab === 'notifications' ? 'show active' : '' %>"
                                    id="notifications" role="tabpanel">
                                    <div class="card">
                                        <h5 class="card-header">Notification Settings</h5>
                                        <div class="card-body">
                                            <p>Notification content goes here...</p>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- Connections Tab -->
                                <div class="tab-pane fade <%= activeTab === 'connections' ? 'show active' : '' %>"
                                    id="connections" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-md-0 mb-4">
                                            <div class="card">
                                                <h5 class="card-header">Connected Accounts</h5>
                                                <div class="card-body">
                                                    <p>Display content from your connected accounts on your site</p>
                                                    <% const connections=[ { name: "Google" ,
                                                        desc: "Calendar and contacts" , img: "google" , checked: false
                                                        }, { name: "Slack" , desc: "Communication" , img: "slack" ,
                                                        checked: true }, { name: "Github" ,
                                                        desc: "Manage your Git repositories" , img: "github" , checked:
                                                        false }, { name: "Mailchimp" , desc: "Email marketing service" ,
                                                        img: "mailchimp" , checked: true }, { name: "Asana" ,
                                                        desc: "Communication" , img: "asana" , checked: true } ]; %>

                                                        <% connections.forEach(item=> { %>
                                                            <div class="d-flex mb-3">
                                                                <div class="flex-shrink-0">
                                                                    <img src="/assets/admin/img/icons/brands/<%= item.img %>.png"
                                                                        alt="<%= item.name %>" class="me-3"
                                                                        height="30" />
                                                                </div>
                                                                <div class="flex-grow-1 row">
                                                                    <div class="col-9 mb-sm-0 mb-2">
                                                                        <h6 class="mb-0">
                                                                            <%= item.name %>
                                                                        </h6>
                                                                        <small class="text-muted">
                                                                            <%= item.desc %>
                                                                        </small>
                                                                    </div>
                                                                    <div class="col-3 text-end">
                                                                        <div class="form-check form-switch">
                                                                            <input class="form-check-input float-end"
                                                                                type="checkbox" role="switch"
                                                                                <%=item.checked ? "checked" : "" %> />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }); %>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="card">
                                                <div class="d-flex">
                                                    <h5 class="card-header" style="margin-right: auto;">Social Accounts
                                                    </h5>
                                                    <input type="hidden" id="csrfToken" value="<%= csrfToken %>" />
                                                    <!-- Add Button -->
                                                    <button type="button" class="btn btn-primary m-3" id="addSocialBtn"
                                                        data-bs-toggle="modal" data-bs-target="#socialAccountModal">
                                                        Add New
                                                    </button>
                                                </div>

                                                <div class="card-body">
                                                    <p>Display content from social accounts on your site</p>

                                                    <% socials.forEach(social=> {
                                                        let platform = '';
                                                        let iconClass = '';
                                                        let iconFile = '';
                                                        let link = social.description;

                                                        if (social.facebook_icon) {
                                                        platform = 'facebook';
                                                        iconClass = social.facebook_icon;
                                                        iconFile = 'facebook';
                                                        } else if (social.twitter_icon) {
                                                        platform = 'twitter';
                                                        iconClass = social.twitter_icon;
                                                        iconFile = 'twitter';
                                                        } else if (social.insta_icon) {
                                                        platform = 'insta';
                                                        iconClass = social.insta_icon;
                                                        iconFile = 'instagram';
                                                        } else if (social.linkedin_icon) {
                                                        platform = 'linkedin';
                                                        iconClass = social.linkedin_icon;
                                                        iconFile = 'linkedin';
                                                        }
                                                        %>
                                                        <div class="d-flex mb-3 mt-4">
                                                            <div class="flex-shrink-0">

                                                                <a href="#">
                                                                    <i class="<%= iconClass %> me-3 text-secondary"
                                                                        style="font-size: 30px;"></i>

                                                                </a>
                                                            </div>
                                                            <div class="flex-grow-1 row">
                                                                <div class="col-7">
                                                                    <h6 class="mb-0 text-capitalize">
                                                                        <%= platform %>
                                                                    </h6>
                                                                    <% if (link) { %>
                                                                        <a href="<%= link %>" target="_blank">
                                                                            <%= link %>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <small class="text-muted">Not
                                                                                Connected</small>
                                                                            <% } %>
                                                                </div>
                                                                <div class="col-5 text-end">

                                                                    <button type="button"
                                                                        class="btn btn-icon btn-outline-danger delete-social"
                                                                        data-platform="<%= platform %>">
                                                                        <i class="bx bx-trash-alt"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="socialAccountModal" tabindex="-1"
                                            aria-labelledby="socialAccountModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form id="socialForm" method="POST" action="/settings/social">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="socialAccountModalLabel">
                                                                Add/Update Social Account</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" name="_csrf"
                                                                value="<%= csrfToken %>" />

                                                            <div class="mb-3">
                                                                <label for="platform"
                                                                    class="form-label">Platform</label>
                                                                <input type="hidden" name="platform"
                                                                    id="platformHidden">
                                                                <select class="form-select" id="platform" required>
                                                                    <option value="facebook">Facebook</option>
                                                                    <option value="twitter">Twitter</option>
                                                                    <option value="insta">Instagram</option>
                                                                    <option value="linkedin">LinkedIn</option>
                                                                </select>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="iconClass" class="form-label">Icon
                                                                    Class</label>
                                                                <input type="text" class="form-control" id="iconClass"
                                                                    name="iconClass" placeholder="e.g. bx bxl-facebook"
                                                                    required>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="link" class="form-label">Social Link</label>
                                                                <input type="url" class="form-control" id="link"
                                                                    name="link"
                                                                    placeholder="https://example.com/yourpage" required>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary"
                                                                id="submitSocialBtn">Add</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- End Connections Tab -->

                                        <div class="tab-pane fade <%= activeTab === 'theme' ? 'show active' : '' %>"
                                            id="theme" role="tabpanel">
                                            <div class="card">
                                                <h5 class="card-header">Theme Settings</h5>
                                                <div class="card-body">
                                                    <p>Theme content goes here...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- End Tab Content -->
                                </div>

                                <%- include('../partials/footer') %>
                                    <div class="content-backdrop fade"></div>
                            </div>
                    </div>
                    <div class="layout-overlay layout-menu-toggle"></div>
                </div>
                <%- include('../partials/script') %>
                    <script src="/assets/admin/js/settings.js"></script>

</body>

</html>